:root {
    background: #FFFFFF;
    background: #81B3D2;
    background: #EEEEEE;
    background: #766357;
    background: #F2F2F2;
    background: #333333;
    background: #888888;
}
.page-body {
    font-family: "PT Sans","Arial", sans-serif ;
    text-transform: uppercase;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100%;
    background-color: #F2F2F2;
}
.page-background1 {
    background-image: url("..//img/background_photo.jpg");
    height: 509px;
}
.page-background2 {
    background-image: url("..//img/background.jpg");
    background-size:auto;
}
.svg1 {
    position: relative;
    top: 98px;
}
a {
    text-decoration: none;
}
.page {
    height: 100%;
}
/*Main header*/
.main-header {
    display:flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.main-header-logo {
    display: flex;
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 56px;
}
.welcome {
    position: relative;
    left: 372px;
    top: 77px;
}
/*sedona*/
.sedona {
    background-color: #FFFFFF;
    display: grid;
}
.sedona h2 {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    margin-top: 43px;
    margin-left: 365px;
    margin-right: 365px;
    font-weight: 700;
}
.sedona h4 {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 51px;
    font-weight: 400;
    padding: 0;
    margin-top: 26px;
}
/*navigation*/
.site-navigation1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    flex-wrap: wrap;
}
.site-navigation2{
    list-style: none;
    top: 0px;
    padding: 0;
    margin: 0;
}
.site-navigation3{
    display: flex;
    flex-direction: row;
    justify-content:flex-end ;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
    color: #000000;
}
.main-navigation{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 26px;
    margin-left: 74px;
    margin-right: 60px;
}
.navigation a{
    color: #000000;
}
.navigation:focus {
    color: #766357;
}
.navigation:active {
    opacity:30%;
}
.navigation:hover {
    color: #81B3D2;
}
.site-navigation1 a, .user-navigation a {
    color: var(--basic-white);
}
.site-navigation3 a, .user-navigation a {
    color: var(--basic-white);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    box-shadow: 0px 7px 15px rgb(0, 1, 1);
    min-height: 100%;
}
/*cause*/
.cause1 {
    display: flex;
    flex-direction: row;
    background-color: #81B3D2;
    text-align: center;
    color: #FFFFFF;
    flex-wrap: wrap;
    width: auto;
}
.cause1-image{
    background-color: #EEEEEE;
}
.cause1-item {
    display: flex;
    flex-direction: row;
}
.cause1 h3 {
    font-size: 21px;
    line-height: 21px;
    display: flex;
    margin-top: 47px;
    margin-left: 139px;
    margin-right: 139px;
    font-weight: 700;
}
.cause1 p {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 52px;
    margin-right: 48px;
    margin-top: 26px;
}
.cause2 {
    display: flex;
    flex-direction: row;
    background-color: #81B3D2;
    text-align: center;
    color: #FFFFFF;
}
.cause2-image{
    display: flex;
    background-color: #9e9e9e;
}
.cause2 h3 {
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    flex-direction: row;
    align-items: center;
    margin-top: 47px;
    margin-left: 126px;
    margin-right: 120px;
    flex-wrap: wrap;
}
.cause2 p {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 49px;
    flex-wrap: wrap;
    margin-top: 27px;
}
/*feature*/
.feature-list {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    align-items: end;
}
.feature-item {
    display: grid;
    justify-content: center;
    text-align: center;
}
.feature-svg {
    display: grid;
    position: relative;
    left: 165px;
    top: 56px;
}
.feature-item h3 {
    display: grid;
    font-size: 21px;
    line-height: 21px;
    margin-top: 83px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 12px;
}
.feature-item p {
    display: grid;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 81px;
    margin-left: 60px;
    margin-right: 55px;
}
/*cause3-4-5*/
.cause345-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EEEEEE;
    flex-wrap: wrap;
    align-items: start;
}
.cause345-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 44px;
}
.cause345-item h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
    margin-left: 120px;
    margin-right: 120px ;
    margin-bottom: 13px;
}
.cause345-item p {
    font-size: 14px;
    line-height: 21px;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 69px;
    margin-bottom: 10px;
}
/*section*/
.section {
    display: grid;
    text-align: center;
    background-color: #FFFFFF;
    grid-template-columns: 1fr;
}
.section h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    margin-left: 446px ;
    margin-right: 457px ;
    margin-top: 55px;
    margin-bottom: 20px;
}
.section p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 39px;
    margin-left: 390px;
    margin-right: 390px;
}
.search {
    text-transform: uppercase;
    padding-left: 137px;
    padding-right: 137px;
    padding-top: 28px;
    padding-bottom: 30px;
    background-color: #766357;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
}
.search:hover {
    background-color: #604E43;
}
.search:active {
    background-color: #503E33;
}
.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3px;
}
/*форма*/
.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color:#FFFFFF ;
    font-weight: bold;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-item1 {
    margin-top: 55px;
    font-size: 14px;
    line-height: 26px;
    display: flex;
}
.search-item1 label{
    padding-top: 4px;
    padding-left: 55px;
    padding-right: 21px;
    font-size: 14px;
    line-height: 26px;
}
.search-item1 input {
    background-color: #F2F2F2;
    border: none;
    width: 296px;
    height: 37px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    padding-left: 13px;
    padding-right: 40px;
    width: 295px;
}
.search-item1 input:hover {
    background-color: #EBEBEB;
}
.search-item1 input:focus {
    background-color: #FFFFFF;
}
.search-item2 {
    margin-right: 30px;
    font-size: 14px;
    line-height: 26px;
    display: flex;
}
.search-item2 label{
    padding-right: 18px;
    padding-top: 4px;
    padding-left: 55px;
    font-size: 14px;
    line-height: 26px;
}
.calendar img{
    position: relative;
    left:-30px;
    top: 8px;
}
.minus{
    justify-self: center;
    background-color: #F2F2F2;
    position: relative;
    left: 10px;
    padding-bottom: 5px;
    width: 30px;
    height: 38px;
    border: none;
    margin-left: -2px;
    margin-right: 9px;
}
.plus{
    position: relative;
    justify-content: center;
    height: 38px;
    border: none;
    left: -10px;
    width: 30px;
    background-color: #F2F2F2;
    margin-left: 10px;
    margin-right: -4px;
}
.search-item2 input {
    background-color:#F2F2F2;
    border: none;
    width: 296px;
    height: 37px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    padding-left: 13px;
    padding-right: 40px;
}
.search-item2 input:hover {
    background-color: #EBEBEB;
}
.search-item2 input:focus {
    background-color: #FFFFFF;
}
.number {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 26px;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.search-item3{
    display: flex;
}
.search-item3 input {
    width: 54px;
    height: 38px;
    text-align: center;
    background-color:#F2F2F2;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
.search-item3 label{
    padding-right: 31px;
    display: flex;
    padding-left: 54px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 26px;
}
.search-item3 input:hover {
    background-color: #EBEBEB;
}
.search-item3 input:focus {
    background-color: #FFFFFF;
}
.search-item4 label {
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 26px;
}
.search-item4{
    margin-left: 53px;
    display: flex;
}
.search-item4 input {
    width: 54px;
    height: 38px;
    text-align: center;
    background-color:#F2F2F2;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
.search-item4 input:hover {
    background-color: #EBEBEB;
}
.search-item4 input:focus {
    background-color: #FFFFFF;
}
.button-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 55px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #81B3D2;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 55px;
    margin-right: 55px;
}
.button-form:hover {
    background-color: #669EC0;
}
.button-form:active {
    background-color: #5496BD;
}
.map-image {
    background-color: #EEEEEE;
}
/*footer*/
.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.index-footer{
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    padding-top: 6px;
    background: rgba(255, 255, 255, 0.9);
    top: 2642px;
}
.catalog-footer{
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 1px;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    flex-wrap: wrap;
}
.footer-phone {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    flex-wrap: wrap;
    margin-left: 10px;
}
.visit-sedona {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin-left: 11px;
    margin-top: -3px;
    margin-bottom: -5px;
}
.footer-social {
    font-size: 21px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 54px;
    width: 280px;
    padding-top: 34px;
    padding-bottom: 36px;
}
.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 100px;
    flex-wrap: wrap;
    margin-top: 17px;
    margin-bottom: 20px;
    width: 220px;
}
.website-by {
    margin: 11px;
    width: 80px;
}
.social-button {
    background-color: #81B3D2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
    margin-left: -4px;
    flex-wrap: wrap;
    width: 46px;
    height: 48px;
}
.social-button:link::before, .social-button:hover {
    background-color: #669EC0;
}
.social-button:active {
    background-color: #5496BD;
}
.button:link::before, .button path::-ms-fill:hover {
    color: #5496BD;
}
/*CATALOG*/
.filter {
    display: flex;
    flex-direction: row;
}
.filters{
    display: flex;
    flex-direction:column;
}
.fildset-filter1{
    display: flex;
    flex-direction:column;
    margin-top: 23px;
    border: none;
    margin-left: 59px;
    color: #FFFFFF;
    padding-bottom: 29px;
}
.fildset-filter2{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    border: none;
    margin-left: 94px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.option{
    display: block;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 32px;
    font-size: 14px;
    line-height: 21px;
    width: 100px;
}
.check-box{
    position: absolute;
    width: 23px;
    height: 23px;
    background-image:url("..//img/checkbox_off.svg");
    margin-left: -30px;
}
.filter-input:checked+.check_box{
    background-image: url("..//img/checkbox_on.svg");
    width: 26px;
    height: 23px;
}
.filter-input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.filter-item {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
    left: 341px;
    top: 25px;
}
.range-filter {
    width: 317px;
    margin-top: 11px;
}
.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    font-weight: bold;
}
.range-controls {
    position: relative;
    height: 21px;
    margin-bottom: 15px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #05010100;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 295px;
    height: 2px;
    background: #FFFFFF;
}
.range-controls .toggle {
    position: absolute;
    top: 15px;
    left: 0;
    width: 3.8px;
    height: 3.8px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.range-controls .toggle-min {
    margin-bottom: 0px;
}
.range-controls .toggle-max {
    left: 251px;
    margin-bottom: 90px;
}
.price-controls {
    display: flex;
    justify-content: space-between;
    outline: 3px solid rgb(255, 255, 255);
}
.price-controls label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}
.price-controls input {
    width: 31px;
    height: 21px;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    background: #f1f1f100;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 21px;
}
.min-price {
    color: #FFFFFF;
    margin-left: 52px;
}
.max-price {
    color: #FFFFFF;
    margin-right: 36px;
}
.input-border {
    border-right:2px solid rgb(255, 255, 255);
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    left: -6px;
}
.filter-button {
    left: 85px;
    position: relative;
    padding-top: 4px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 6px;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: 2px solid #FFFFFF;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}
.filter-button:hover{
    background-color: #FFFFFF;
    color: #000000;
}
/*result*/
.result-list {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.list {
    display: flex;
    width: 650px;
}
.up-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 36px;
    margin-right: 60px;
    margin-left: 498px;
    background-color: #ababab00;
}
.up{
    padding-right: 12px;
    border: none;
    background-color: #ffffff00;
}
.down{
    border:none;
    background-color: #ffffff00;
}
.h2 {
    font-size: 21px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    margin-left: 73px;
    margin-bottom: 31px;
    margin-top: 29px;
    font-weight: bold;
}
.result-item {
    text-align: center;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    margin-top: 32px;
    margin-left: 37px;
    margin-bottom: 37px;
    display: flex;
    flex-direction: row;
    color: #000000;
}
.result-item a:link {
    color: #000000;
    opacity: 30%;
    border-bottom: 1px solid #000000;
}
.result-item a:hover {
    color: #81B3D2;
    border-bottom: 1px solid #81B3D2;
    opacity: none;
}
.result-item a:active {
    color: #000000;
    border-bottom: none;
    opacity: none;
}
.result-item a:visited {
    color: #81B3D2;
    opacity: none;
}
.h3 {
    text-align: center;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    margin-top: 31px;
    margin-bottom: 37px;
    margin-left: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}
/*hotel*/
.hotel {
    display: flex;
    justify-content: row;
    text-align: center;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    border-top: 1px solid rgb(229,229,229,1);
    border-bottom: 1px solid rgb(229,229,229,1);
}
.hotel-list {
    display: flex;
    width: 255px;
    flex-direction: column;
    font-size: 14px;
    line-height: 21px;
    flex-wrap: wrap;
}
.hotel-list h1 {
    font-size: 21px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    padding-top: 23px;
    margin: 0;
    flex-wrap: wrap;
}
.hotel-list h1:link::before, .hotel-list h1:hover {
    color: #81B3D2;
}
.hotel-list h1:active {
    opacity: 30%;
}
.hotel-p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.p1 {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    font-size: 14px;
    line-height: 21px;
}
.p2 {
    display: flex;
    flex-direction: row;
    margin-right: 76px;
    padding: 0;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
}
.img-hotel {
    margin-left: 73px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: #888888;
}
.button-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.button1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    background-color: #81B3D2;
    padding-left: 16px ;
    padding-right: 16px ;
    padding-top: 3px ;
    padding-bottom: 3px;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 21px;
}
.button1:link::before, .button1:hover {
    background-color: #669EC0;
}
.button1:active {
    background-color: #5496BD;
}
.button2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px ;
    padding-right: 16px ;
    padding-top: 3px ;
    padding-bottom: 3px;
    color: #FFFFFF;
    margin-left: 6px;
    background-color: #766357;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 21px;
}
.button2:link::before, .button2:hover {
    background-color: #604E43;
}
.button2:active {
    background-color: #503E33;
}
.rating-star {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 26px;
}
.star{
    margin: 2.5px;
}
.rating-hotel {
    display: flex;
    flex-direction: column;
    width: 106px;
    margin-right: 50px;
    margin-left: 531px;
}
.rating-hotel p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 47px;
    font-size: 14px;
    line-height: 21px;
    background-color: #F2F2F2;
    margin-left: -5px;
}
