:root{
    background: #FFFFFF;
    background: #81B3D2;
    background: #EEEEEE;
    background: #766357;
    background: #F2F2F2;

    background: #888888;          
}




body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow";
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-black);
    background-image: url("../img/background photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    background-color: #FFFFFF;
}

h4{
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



/*navigation*/
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-white);
    background-color: transparent;
}
  
.main-navigation-wrapper {
    background-color: var(--basic-black);
}

.site-navigation {
    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}
  
  
.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
}
  
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}



/*cause*/
.cause1-list{
    list-style: none;
    background-color: #81B3D2;
}

.cause1-item {
    text-align: center;
}

h3{
    font-size: 21px;
    line-height: 21px;
}

.cause1-item {
    font-size: 14px;
    line-height: 21px;
}

.cause2-list{
    list-style: none;
    background-color: #81B3D2;
}

.cause2-item {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}



/*feature*/
.feature-list{
    background-color: #FFFFFF;
}

.feature-item{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    list-style: none;
}



/*cause3-4-5*/
.cause3-4-5-list{
    list-style: none;
    background-color: #EEEEEE;
}

.cause3-4-5-item{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    list-style: none;
}



/*section*/
.section{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    background-color: #FFFFFF;
}

h2{
    font-size: 30px;
    line-height: 24px; 
}



/*footer*/
.main-footer{
    background-color: #FFFFFF;
}

.footer-contacts{
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
}

.footer-phone{

    color: black;
}

.footer-social{
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
    color: black;
}

.footer-copyright{
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
    color: black;
}





