:root{
    background: #FFFFFF;
    background: #81B3D2;
    background: #EEEEEE;
    background: #766357;
    background: #F2F2F2;
    background: #333333;

    background: #888888;          
}




 body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif ;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-black);
    background-position: top center;
    background-repeat: no-repeat;
}

.page-body{
    background-image: url("../img/background photo.jpg");
}




a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



/*sedona*/
.sedona {
    text-align: center;
    background-color: #FFFFFF;   
}

.sedona h2{ 
    text-align: center;
    font-size: 21px;
    line-height: 26px;  
    color: #000000;  
}

.sedona h4{ 
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}



/*navigation*/
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-white);
    background-color: transparent;
}
  
.main-navigation-wrapper {
    background-color: var(--basic-black);
}

.site-navigation {
    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}
  
.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
}
  
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}



/*cause*/
.cause1-list{
    list-style: none;
    background-color: #81B3D2;
}

.cause1-item {
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
}

.cause1-item  h3{
    font-size: 21px;
    line-height: 21px;
}

.cause2-list{
    list-style: none;
    background-color: #81B3D2;
}

.cause2-item {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.cause2-item h3{
    text-align: center;
    font-size: 21px;
    line-height: 21px;
}



/*feature*/
.feature-list{
    background-color: #FFFFFF;
}

.feature-item {
    text-align: center;
    list-style: none;
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.feature-item p{
    font-size: 14px;
    line-height: 21px;
    color:  #333333;
}



/*cause3-4-5*/
.cause3-4-5-list{
    list-style: none;
    background-color: #EEEEEE;
}

.cause3-4-5-item{
    text-align: center;
    list-style: none;
    font-size: 14px;
    line-height: 21px;
}

.cause3-4-5-item h3{
    font-size: 21px;
    line-height: 21px;
    color:#000000;
}

.cause3-4-5-item p{
    font-size: 14px;
    line-height: 21px;
    color:#333333;
}



/*section*/
.section{
    text-align: center;
    background-color: #FFFFFF;
}

.section h2{
    font-size: 30px;
    line-height: 24px;
    color:#000000;
}

.section p {
    font-size: 14px;
    line-height: 24px;
    color:#333333;
}



/*footer*/
.main-footer{
    background-color: #FFFFFF;
}

.footer-contacts{
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
}

.footer-phone{
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.footer-social{
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
    color: #000000;
}


.footer-copyright{
    font-size: 14px;
    line-height: 26px; 
    text-align: center;
    color: #000000;
}


/*CATALOG*/ /*не могу поменять фон в веру в каталоге*/


/*hotel*/
.hotel{
    text-align: center;
    background-color: #FFFFFF;
}

.hotel h1{
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
}

.hotel h3{
    font-size: 14px;
    line-height: 21px; 
    text-align: center;
}

.hotel a{
    text-decoration: none;
}



/*result*/
.result-list{
    list-style: none;
    background-color: #FFFFFF;
}

.result-list h1{
    text-align: center;
    color: #000000 ;
    font-size: 21px;
    line-height: 26px;
}

.result-item{
    text-align: center;
    color: #000000 ;
    font-size: 12px;
    line-height: 18px;
}

.result h2{
    text-align: center;
    color: #000000 ;
    font-size: 12px;
    line-height: 18px;
}